# Ignore hidden DS_Store files and swift userData
*.DS_Store

# Ignore swift userData
xcuserdata/
*.xcuserstate


foodieApp/foodieApp.xcodeproj/project.xcworkspace/xcuserdata/Mr_Lopez.xcuserdatad/UserInterfaceState.xcuserstate
